<footer id="footer" class="footer">
    <div class="wrapper">
        <p class="copyright">© Copyright <%= year %>. All Rights Reserved.</p>

        <ul class="social-links">
            <li class="social-item">
                <a href="#" title="Facebook">
                    <i class="bi bi-facebook" style="font-size: 25px"></i>
                </a>
            </li>
            <li class="social-item">
                <a href="#" title="Instagram">
                    <i class="bi bi-instagram" style="font-size: 25px"></i>
                </a>
            </li>
            <li class="social-item">
                <a href="#" title="X">
                    <i class="bi bi-twitter-x" style="font-size: 25px"></i>
                </a>
            </li>
            <li class="social-item">
                <a href="#" title="Github">
                    <i class="bi bi-github" style="font-size: 25px"></i>
                </a>
            </li>
            <li class="social-item">
                <a href="#" title="Linkedin">
                    <i class="bi bi-linkedin" style="font-size: 25px"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>
