<header id="header" class="header">
    <div class="navbar__container">
        <button
            class="navbar__toggle"
            id="navbarToggle"
            aria-label="Toggle navigation"
            aria-controls="navbarMenu"
            aria-expanded="false"
        >
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>

        <nav id="navmenu" class="navmenu">
            <ul class="navmenu__items-list">
                <li class="navmenu__item">
                    <a class="filter-active" href="#hero" title="Home">
                        <i class="bi bi-house navicon"></i>
                        <span>HOME</span>
                    </a>
                </li>
                <li class="navmenu__item">
                    <a href="#about-container" title="About">
                        <i class="bi bi-person navicon"></i>
                        <span>ABOUT</span>
                    </a>
                </li>
                <li class="navmenu__item">
                    <a href="#resume" title="Resume">
                        <i class="bi bi-file-earmark-text navicon"></i>
                        <span>RESUME</span>
                    </a>
                </li>
                <li class="navmenu__item">
                    <a href="#portfolio" title="Portfolio">
                        <i class="bi bi-images navicon"></i>
                        <span>PORTFOLIO</span>
                    </a>
                </li>
                <!-- <li class="navmenu__item">
                    <a href="#contact" title="Contact">
                        <i class="bi bi-envelope navicon"></i>
                        <span>CONTACT</span>
                    </a>
                </li> -->
            </ul>
        </nav>
    </div>
</header>
