.footer {
    width: 100%;
    min-width: 340px;
    max-width: var(--width-max_width);
    height: 150px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin: 0 auto;
}

.wrapper {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright {
    text-align: center;
}

.social-links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2em;
}

.social-links .social-item a {
    color: var(--contrast-color);
    transition: 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Pseudo Elements
--------------------------------------------------------------*/
.social-links .social-item a:hover {
    color: var(--contrast-color-hover);
    transform: scale(1.2);
}
