section {
    scroll-margin-top: 300px;
}

.header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 3.5rem;
    z-index: 9999;
}

.header .navbar__container {
    width: 100%;
    min-width: 340px;
    max-width: var(--width-max_width);
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* This class, added via JS, is what makes the navigation bar visible when scrolling */
.navbar__container.scrolled {
    background-color: rgba(34, 33, 33, 0.75);
    /* backdrop-filter: blur(5px); */
    transition: all 0.3s ease-in-out;
}

.navbar__container.is-active {
    background-color: rgba(34, 33, 33, 0.75);
    /* backdrop-filter: blur(5px); */
}

/*
========================================
Mobile Menu & Toggle
========================================
*/
.navbar__toggle {
    display: block;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    padding: 0.25rem 0.75rem;
    background-color: transparent;
    cursor: pointer;
    margin-right: 0.5em;
}

.navbar__toggle .bar {
    display: block;
    width: 22px;
    height: 2px;
    margin: 6px 0;
    background-color: #f0f0f0;
    transition: transform 0.2s ease-in-out;
}

.navbar__toggle.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.navbar__toggle.is-active .bar:nth-child(2) {
    opacity: 0;
}
.navbar__toggle.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navmenu {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 100%;
}

.navmenu.is-active {
    display: flex;
    background-color: rgba(34, 33, 33, 0.75);
}

.navmenu__items-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navmenu__item {
    text-align: center;
}

.navmenu__items-list a {
    display: block;
    background-color: transparent;
    padding: 0.7em 0.9em;
    color: var(--nav-color);
    transition: all 0.2s ease-in-out;
}

/* Add when clicked on desktop or mobile navbar styles*/
.navmenu__items-list a.filter-active {
    background-color: var(--nav-hover-background-color-items);
    color: var(--nav-hover-color);
}

.navmenu__items-list span {
    margin-left: 5px;
}

.navmenu__items-list a:hover {
    background-color: var(--nav-hover-background-color-items);
    color: var(--nav-hover-color);
    text-shadow: 0.5px 0 0 currentColor;
}

.navmenu__items-list a:active {
    transform: translateY(5px);
}

/*
========================================
Desktop Navbar Styles
========================================
*/
@media (min-width: 768px) {
    section {
        scroll-margin-top: 70px;
    }

    .navbar__toggle {
        display: none;
    }

    .header .navmenu {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        position: static;
    }

    .navmenu__items-list {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 2%;
    }

    .navmenu__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navmenu__items-list a {
        border-radius: 30px;
    }

    /* Add when clicked on desktop or mobile navbar styles*/
    .navmenu__items-list a.filter-active {
        border-radius: 30px;
    }

    .navmenu__items-list a:hover {
        border-radius: 30px;
    }
}
